<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">  <!--navbar elementleri biraz ortalamak için-->
    <a class="navbar-brand" [routerLink]="['/home']"  >Dating App</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/members']"  >Matches </a>
    </li>
    <li class="nav-item " routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/lists']"  >Lists</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/messages']"  >Messages</a>
    </li>
   
  </ul>

  <div *ngIf="loggedIn()" class="dropdown" dropdown >
    <!-- *ngIf="loggedIn()" -> true dondururse bu div'in içindekiler çalışır. -->
    <a class="dropdown-toggle text-light" dropdownToggle> 
      <!--text-light: rengi beyazlaştırır.-->
      Welcome {{authService.decodedToken.unique_name }} <!--authService' in altında sarı veya kırmızı çizgi yanıltıcı. Pivate olarak bu componente enjekte edilmiş bu servis html de kullanılabilir.-->
    </a>

    <div class="dropdown-menu mt-3"  *dropdownMenu>
      <a class="dropdown-item" href="#"
        ><i class="fa fa-user"></i> Edit Profile</a
      >
      <!--i: icon -> classını biz belirttik. -->
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
    </div>
  </div>

  <form
    *ngIf="!loggedIn()"
    #loginForm="ngForm"
    class="form-inline my-2 my-lg-0"
    (ngSubmit)="login()"
  >
    <!-- loggedIn() metodu false döndürürse bu blok gösterilir.-->
    <input
      class="form-control mr-sm-2"
      type="text"
      name="username"
      placeholder="Username"
      required
      [(ngModel)]="model.username"
    />
    <!--Burdaki name alanını boş bırakmamalıyız. Hata verir.-->
    <input
      class="form-control mr-sm-2"
      type="password"
      name="password"
      placeholder="Password"
      required
      [(ngModel)]="model.password"
    />
    <button
      [disabled]="!loginForm.valid"
      class="btn btn-success my-2 my-sm-0"
      type="submit"
    >
      Login
    </button>
    <!-- !loginForm.valid : yani login form içerisindeki 'inputbuxların şartları sağlanmadığı sürece butonu aktifleştirme' demek.-->
  </form>

  </div>
  
</nav>
